<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Tela Quem Somos</title>
   
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <div class="card-login">
                <h1>Seja bem-vindo!</h1>
                <button class="button-login">Entrar</button>
                <button class="button-cadastro">Cadastre-se</button>
            </div>
        </div>
        <div class="right-login">
            <h1>Quem somos?</h1>
            <div class="card-right">
                <h1>O grupo, composto por 6 estudantes<br>do quarto período de Engenharia da Computação, <br> na UPE-Poli.</h1>
            </div>
        </div>
    </div>
</body>
</html>
